# Libreria Pandas
## Creacion de Data Frames

In [1]:
# Importar libreria

import pandas as pd

In [2]:
# Datos RRSS 
fbk = ['Facebook', 2449, True, 2006]
twt = ['Twitter', 339, False, 2006]
ig = ['Instagram', 1000, True, 2010]
yt = ['YouTube', 2000, False, 2005]
lkn = ['LinkedIn', 663, False, 2003]
wsp = ['WhatsApp', 16500, True, 2009]

In [3]:
lista_rs = [fbk, twt, ig, yt, lkn, wsp]

In [4]:
# Creacion de un DF desde una lista

df_rs = pd.DataFrame(lista_rs, columns = ['Nombre', 'Cantidad', 'ES_Facebook', 'Año'])
df_rs

      Nombre  Cantidad  ES_Facebook   Año
0   Facebook      2449         True  2006
1    Twitter       339        False  2006
2  Instagram      1000         True  2010
3    YouTube      2000        False  2005
4   LinkedIn       663        False  2003
5   WhatsApp     16500         True  2009

In [5]:
# Creacion de DataFrames vacios

df_vacio = pd.DataFrame(columns = ['Nombre', 'Cantidad', 'ES_Facebook', 'Año'])

In [6]:
df_vacio

Empty DataFrame
Columns: [Nombre, Cantidad, ES_Facebook, Año]
Index: []

In [7]:
df_vacio = df_vacio.append({'Nombre' : 'Facebook', 'Cantidad' : 2449, 'ES_Facebook' : True, 'Año' : 2006}, ignore_index = True)

C:\Users\arauj\AppData\Local\Temp\ipykernel_14444\1290445018.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_vacio = df_vacio.append({'Nombre' : 'Facebook', 'Cantidad' : 2449, 'ES_Facebook' : True, 'Año' : 2006}, ignore_index = True)

In [8]:
df_vacio

     Nombre Cantidad ES_Facebook   Año
0  Facebook     2449        True  2006

In [9]:
# Seleccionar elementos .loc vs .iloc

df_rs.loc[1, 'Nombre']

'Twitter'

In [10]:
# Seleccion por indice

df_rs.iloc[1, 0]

'Twitter'

In [11]:
# Seleccionar columna

df_rs['Nombre']

0     Facebook
1      Twitter
2    Instagram
3      YouTube
4     LinkedIn
5     WhatsApp
Name: Nombre, dtype: object

In [12]:
# seleccionar fila

df_rs.iloc[4]

Nombre         LinkedIn
Cantidad            663
ES_Facebook       False
Año                2003
Name: 4, dtype: object

In [13]:
# Seleccion por condicion

df_rs['Cantidad'] > 1500

0     True
1    False
2    False
3     True
4    False
5     True
Name: Cantidad, dtype: bool

In [14]:
df_rs[df_rs['Cantidad'] > 1500]

     Nombre  Cantidad  ES_Facebook   Año
0  Facebook      2449         True  2006
3   YouTube      2000        False  2005
5  WhatsApp     16500         True  2009

In [15]:
# Ordenar las columnas
# Ordenacion ascendente: de menor a mayor

df_rs.sort_values('Nombre', ascending = True)

      Nombre  Cantidad  ES_Facebook   Año
0   Facebook      2449         True  2006
2  Instagram      1000         True  2010
4   LinkedIn       663        False  2003
1    Twitter       339        False  2006
5   WhatsApp     16500         True  2009
3    YouTube      2000        False  2005

In [16]:
# Ordenacion descendente

df_rs.sort_values('Cantidad', ascending = False)

      Nombre  Cantidad  ES_Facebook   Año
5   WhatsApp     16500         True  2009
0   Facebook      2449         True  2006
3    YouTube      2000        False  2005
2  Instagram      1000         True  2010
4   LinkedIn       663        False  2003
1    Twitter       339        False  2006

In [17]:
# Ordenar dos valores
# Ordenar por columnas

df_rs.sort_values(['Año', 'Cantidad'], ascending = [True, False])

      Nombre  Cantidad  ES_Facebook   Año
4   LinkedIn       663        False  2003
3    YouTube      2000        False  2005
0   Facebook      2449         True  2006
1    Twitter       339        False  2006
5   WhatsApp     16500         True  2009
2  Instagram      1000         True  2010