# Listas en Python

In [34]:
# Crear una lista con diferentes tipos de datos

# structure : | Nombre (string) | millonesUsuarios (int) | perteneceFck (bool)

In [35]:
ejemplo = ['nombre', 1548, True]

In [36]:
ejemplo

['nombre', 1548, True]

In [37]:
# Datos RRSS 
fbk = ['Facebook', 2449, True]
twt = ['Twitter', 339, False]
ig = ['Instagram', 1000, True]
yt = ['YouTube', 2000, False]
lkn = ['LinkedIn', 663, False]
wsp = ['WhatsApp', 16500, True]

In [38]:
# Seleccionar elementos de las listas

In [39]:
# Nombres de redes sociales

nombresRRSS = ['Facebook', 'Twitter', 'Instagram', 'YouTube', 'LinkedIn', 'WhatsApp']

In [40]:
nombresRRSS[0]

'Facebook'

In [41]:
# Seleccion de 2 elementos

[[nombresRRSS[1], nombresRRSS[3]]]

[['Twitter', 'YouTube']]

In [42]:
# Seleccion de ':' para seleccionar de 'x' indice a un 'y' indice

nombresRRSS[2:5]

['Instagram', 'YouTube', 'LinkedIn']

In [43]:
# Seleccion inversa

nombresRRSS[::-1]

['WhatsApp', 'LinkedIn', 'YouTube', 'Instagram', 'Twitter', 'Facebook']

#### Agregando elementos a las listas

In [44]:
fbk

['Facebook', 2449, True]

In [45]:
fbk.append(2006)

In [46]:
fbk

['Facebook', 2449, True, 2006]

In [47]:
twt.append(2006)
ig.append(2010)
yt.append(2005)
lkn.append(2003)
wsp.append(2009)

#### Eliminar elementos de las listas

In [48]:
fbk.append('error')

In [49]:
fbk

['Facebook', 2449, True, 2006, 'error']

In [50]:
fbk.remove('error')

In [51]:
fbk

['Facebook', 2449, True, 2006]

### Creando un DataFrame desde una lista

In [52]:
# Creacion del DataFrame

listaRS = [fbk, twt, ig, yt, lkn, wsp]

In [53]:
# Mostrando el DataFrame

listaRS

[['Facebook', 2449, True, 2006],
 ['Twitter', 339, False, 2006],
 ['Instagram', 1000, True, 2010],
 ['YouTube', 2000, False, 2005],
 ['LinkedIn', 663, False, 2003],
 ['WhatsApp', 16500, True, 2009]]

In [54]:
import pandas as pd

pd.DataFrame(listaRS, columns = ['Nombre', 'Cantidad', 'es_Fbk', 'Año'])

      Nombre  Cantidad  es_Fbk   Año
0   Facebook      2449    True  2006
1    Twitter       339   False  2006
2  Instagram      1000    True  2010
3    YouTube      2000   False  2005
4   LinkedIn       663   False  2003
5   WhatsApp     16500    True  2009