In [3]:
import pandas as pd

In [4]:
# Leyendo el archivo CSV
dfExamenes = pd.read_csv('DesempenioEstudiantes.csv')
dfExamenes.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# Seleccionar una columna

### Sintaxis 1

In [5]:
# Selecciona un columna con []
dfExamenes['gender']

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [6]:
# Revisar el tipo de dato en una columna
type(dfExamenes['gender'])

pandas.core.series.Series

In [7]:
# Series: atributos y metodos
dfExamenes['gender'].index
dfExamenes['gender'].head()

0    female
1    female
2    female
3      male
4      male
Name: gender, dtype: object

### Sintaxis 2

In [8]:
# Seleccionar una columna con '.'
dfExamenes.gender

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [9]:
# Seleccionar una columna con '.' (falla)
dfExamenes.math score

SyntaxError: invalid syntax (<ipython-input-9-462ea6486d7b>, line 2)

In [10]:
# Seleccionar la misma columna con []
dfExamenes['math score']

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64